<config>
	<!-- The full path of the apis-client-generator generate_library.py file. -->
	<scriptLocation>C:\Users\USERNAME_GOES_HERE\Documents\apis-client-generator\src\googleapis\codegen\generate_library.py</scriptLocation>
	
	<!-- The language to pass to the code generator. -->
	<language>csharp</language>
	
	<!-- The language variant to pass to the code generator. -->
	<language_variant>gshell</language_variant>
	
	<!--The path to the apis-clients-generator project's src folder.
		This will be used for the pythonpath environmental variable
		during the generation process. -->
	<pythonGeneratorPath>C:\Users\USERNAME_GOES_HERE\Documents\apis-client-generator\src</pythonGeneratorPath>
	
	<!--OPTIONAL - The directory you would like the generated
		files to go. If not supplied, will go in the same directory
		as the .ps1 and .json files. -->
	<output_dir />
	
	<!-- OPTIONAL - The path to your Python executable. If not
		defined here, it will use what is found in the system
		environmental variables for python. -->
	<pythonExePath />
</config>